.App {
  max-width: 500px;
  margin: 20px auto;
  background: #a2d4d4;
  padding: 30px 20px;
}

.title {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

#form {
  margin-bottom: 15px;
}